body {
    background-color: #1b1b1b;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
}

.title, .score {
    color: white;
}

canvas {
    background-color: grey;
}

.score_tags {
    display: flex;
}

p span {
    padding-right: 3rem;
}