body {
    background-color: #1b1b1b;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
}

.title, .score {
    color: white;
}

canvas {
    background-color: grey;
}

.score_tags {
    display: flex;
}

p span {
    padding-right: 3rem;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background-color:rgba(0, 0, 0, 0.8);;
  }

.launch_button {
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-shadow: 4px 1px 18px rgba(0,0,0,0.81);
    transition: 0.1s;
}

.launch_button:hover {
    transition: 0.1s;
    transform: scale(1.02);
}

.modal_title {
    margin-top: 10rem;
    font-size: 6rem;
    color: white;
    text-shadow: 4px 1px 18px rgba(0,0,0,0.81);
}

.end_game_score {
    font-size: 1.5rem;
    color: white;
    text-shadow: 4px 1px 18px rgba(0,0,0,0.81);
}