body {
    background-color: #1b1b1b;
    margin: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
}

.screen_not_supported {
    display: none;
    color: #fff;
    text-align: center;
}

.title, .score {
    color: white;
    text-align: center;
}

canvas {
    background-color: grey;
}

.score_tags {
    display: flex;
    justify-content: center;
}

p span {
    padding-right: 3rem;
}

.modal, .modal_pause {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 42;
    background-color:rgba(0, 0, 0, 0.8);;
  }

.modal_pause {
    visibility: hidden;
}

.launch_button {
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-shadow: 4px 1px 18px rgba(0,0,0,0.81);
    transition: 0.1s;
}

.launch_button:hover {
    transition: 0.1s;
    transform: scale(1.02);
}

.modal_title {
    margin-top: 10rem;
    font-size: 6rem;
    color: white;
    text-shadow: 4px 1px 18px rgba(0,0,0,0.81);
}

.end_game_score {
    font-size: 1.5rem;
    color: white;
    text-shadow: 4px 1px 18px rgba(0,0,0,0.81);
}

.img_bloc {
    z-index: 43;
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
}

.ear_img {
    fill: white;
    cursor: pointer;
}

.song_off {
    display: none;
}

.side_how_to_play_panel {
    color: white;
    position: absolute;
    z-index: 43;
    border: solid 2px white;
    padding: 1rem;
    border-radius: 0.2rem;
    left: auto;
    right: -11rem;
    top: 4rem;
    background: #1b1b1b;
    transition: .7s;
}

.side_how_to_play_panel h3, .side_how_to_play_panel p {
    margin: 0;
    margin: 0.5rem;
}

.info_img {
    display: none;
}

.slide_animation_panel {  
    transform: translateX(-105%);
} 

.info_img {
    display: block;
    margin-right: 1rem;
    fill: white;
}

.info_img:hover {
    cursor: pointer;
}
